* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.box h1 {
    padding: 3rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr  1fr  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box.a {
    grid-column: 1 / 4;
} 

.box.b {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.box.c {
    grid-row: 2;
    grid-column: 3 / 4;
}

.box.d {
    
}

.box.e {
    
}

.box.f {
   
}

.box.j {
    
}

.box.l {
    
}

.box.r {
    
}

.box.t {
    
}

.box.u {
    
}

.box.h {
    
}
